PORT=4000
MONGODB_URI=mongodb://localhost:27017/Vehicle-Service
MONGODB_DB_NAME=Vehicle-Service
NHTSA_GET_ALL_MAKES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/getallmakes?format=XML
NHTSA_GET_VEHICLE_TYPES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId/{makeId}?format=xml
LOG_LEVEL=info
NODE_ENV=development
INGEST_ON_STARTUP=true